<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book</title>
    <style type="text/css">
        body {
            padding: 30px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<div th:insert="menu"></div>

<form action="editBook.html" id="edit-form" method="post"
      th:action="${action} =='add' ? '/books/create' : '/books/update'" th:object="${book}">
    <h2 th:text="${action} =='add' ? 'Book add:' : 'Book edit:'">Book:</h2>

    <div class="row" th:if="${action} !='add'">
        <label for="id-input">Id:</label>
        <input id="id-input" name="id" readonly="readonly" th:value="${book.getId()}" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" th:value="${book.getName()}" type="text" value="John Doe"/>
    </div>

    <div class="row">
        <label for="holder-input">Author:</label>
        <label>
            <select th:field="${book.author}">
                <option th:each="type : ${authors}" th:text="${type.name}" th:value="${type.id}">Author</option>
            </select>
        </label>
    </div>

    <div class="row">
        <label for="holder-input">Genre:</label>
        <label>
            <select th:field="${book.genre}">
                <option th:each="type : ${genres}" th:text="${type.name}" th:value="${type.id}">Genre</option>
            </select>
        </label>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
